<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/datedropper.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
  $(document).ready(function () {
    $("#datedropper").dateDropper({});
  });
  var svg = d3.select("svg");
  var originX = 200;
  var originY = 200;
  var innerCircleRadius = 40;
  var outerCircleRadius = 60;

  var table = svg.append("circle").attr({
    cx: originX,
    cy: originY,
    r: innerCircleRadius,
    fill: "white",
    stroke: "black",
  });

  var outerCircle = svg.append("circle").attr({
    cx: originX,
    cy: originY,
    r: outerCircleRadius,
    fill: "none",
    stroke: "black",
  });

  var chairOriginX = originX + outerCircleRadius * Math.sin(0);
  var chairOriginY = originY + outerCircleRadius * Math.cos(0);

  var chairWidth = 20;
  var chair = svg.append("rect").attr({
    x: chairOriginX - chairWidth / 2,
    y: chairOriginY - chairWidth / 2,
    width: chairWidth,
    opacity: 1,
    height: 20,
    fill: "none",
    stroke: "blue",
  });

  chair.attr("transform", "rotate(45, 200, 200)");
</script>
</body>

</html>