{% include "home/header.html" %}
<header>
  <!-- place navbar here -->
  <nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><i class='bx bxs-food-menu'></i> Reservasi</a>
      <div class="d-flex">
        {% if 'user' in session %}
        <a href="{{url_for('logout')}}" class="btn btn-outline-warning">Logout</a>
        {% else %}
        <a href="{{url_for('register')}}" class="btn btn-outline-primary me-2">Sign Up</a>
        <a href="{{url_for('login')}}" class="btn btn-outline-success">Sign In</a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center mt-5" size="50" style="background-color: rgb(66, 71, 70)">
          <h1 style="color: #fff">
            Select Date and Time for your reservation
          </h1>
        </div>
        <div class="datefield mb-5">
          <form action="#" method="post">
            <div class="row">

              <div class="col-md-3">
                <label>Date</label>
                <input type="date" name="tanggal" class="form-control" id="tanggal" value="{{
                  request.form.tanggal }}" />
              </div>
              <div class="col-md-3">
                <label>Time</label> <input type="time" name="jam_mulai" class="form-control" value="{{
                  request.form.jam_mulai }}" />
              </div>
              <div class="col-md-3">
                <label>People</label>
                <input type="number" name="isi_slot" id="people" class="form-control" value="{{
                  request.form.isi_slot }}" />
              </div>
              <div class="col-md-3">
                <label>Search</label>
                <button type="submit" class="btn btn-primary pro-button w-100">
                  Check a Availability
                </button>
              </div>

            </div>
          </form>

          <div class="row wrapper">
            <div class="avail-table">
              <form action="{{ url_for('reserve') }}" method="post">


                {% for table in meja %}

                {% if tanggal == detail.tanggal and jam_mulai == detail.jam_mulai %}
                {% if isi_slot
                <= 4 %} <input type="checkbox" class="checkoption" name="id_meja" id="table" value="{{table.id}}"
                  disabled />
                {% elif isi_slot > 4 %}
                <input type="checkbox" name="id_meja" id="table" value="{{table.id}}" disabled />
                {% endif %}
                {% else %}
                {% if isi_slot
                <= 4 %} <input type="checkbox" class="checkoption" name="id_meja" id="table"
                  onclick="checkedOnClick(this);" value="{{table.id}}" />
                {% elif isi_slot > 4 %}
                <input type="checkbox" name="id_meja" id="table" value="{{table.id}}" />
                {% endif %}
                {% endif %}
                <label for="table">{{table.no_meja}}</label>
                <img src="{{url_for('static', filename='assets/attr/' + table.tipe_meja)}}" alt="" sizes="20" srcset=""
                  width="255" />

                {% endfor %}


            </div>
            <input type="date" name="tanggal" class="form-control" value="{{
              request.form.tanggal }}" hidden />
            <input type="time" name="jam_mulai" class="form-control" value="{{
                request.form.jam_mulai }}" hidden />
            <input type="number" name="isi_slot" id="people" class="form-control" value="{{
                  request.form.isi_slot }}" hidden />
            <br>

            <div class="mb-3" id="emailForm">
              <label for="email" class="form__label">Email:</label>
              {% if 'user' in session %}
              <input type="email" name="email" id="email" class="form-control" value="{{
      session['user'] }}" />
              {% else %}
              <input type="email" name="email" id="email" class="form-control" value="{{
      request.form.email }}" />
              {% endif %}
            </div>
            <div class="mb-3" id="accountForm">
              <label for="account" class="form__label">Account:</label>
              <select name="id_pembayaran" id="account" class="form-control">
                <option value="1">Debit</option>
                <option value="2">Virtual Account</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" id="submit_prog">
              Checkout
            </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>
<footer>
  <!-- place footer here -->
</footer>
{% include "home/footer.html" %}