{% include 'admin/header.html' %}
<!-- MAIN -->
<main>
    <div class="head-title">
        <div class="left">
            <h1>Form Input Booking</h1>
        </div>
    </div>

    <div class="table-data">
        <div class="order">
            <div class="head">
                <h3>Form Input Booking</h3>


            </div>
            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="tanggal" class="form-label">Tanggal</label>
                    <input type="date" name="tanggal" class="form-control" id="tanggal">
                </div>
                <div class="mb-3">
                    <label for="jam_mulai" class="form-label">Jam Mulai</label>
                    <input type="time" name="jam_mulai" id="jam_mulai" class="form-control" value="00:00:00">
                </div>
                <div class="mb-3">
                    <label for="isi_slot" class="form-label">Isi Slot</label>
                    <input type="number" name="isi_slot" id="isi_slot" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Simpan Data</button>
            </form>
        </div>
    </div>
</main>
<!-- MAIN -->
{% include "admin/footer.html" %}